extends layout


block content
 -var i=1
  .cardContainer
    each book  in  bookList
     .smallCard.headfonts
        -var srcImg=`/images/book${i++}.jpg`
        img.smallCard-img(src=srcImg, alt=book.bookName)
        .card-body
          h4.headfonts #{book.bookName} 
             p.parafonts.text-danger
              b  #{book.bookAuther}           
             p.parafonts.text-danger #{book.bookPrice}
             p.parafonts.text-danger #{book.bookGenre}
             p.parafonts.text-danger #{book.bookSrc}
             //-  p.parafonts.text-danger #{book.bookDescription}
              
    //-  img.smallCard-img(src="/images/book1.jpg", alt=book.bookName)
       